.loader {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: wheat;
    transition: 2s ease;
    z-index: 99;
}

.loader__img {
    margin: 0;
    padding: 0;
    width: 20%;
    height: auto;
}

.loader__text {
    margin: 0;
    padding: 0;
    width: 20%;
    height: auto;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container {
    max-width: 1200px;
    margin: auto;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    color: transparent;
  
}

::-webkit-scrollbar-thumb {
    background-color: tomato;
    border-radius: 10px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    background-color: transparent;
    transition: opacity .5s ease,
                background-color 2s ease;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 20px 30px;
}

nav ul li a {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
}

.parallax__bg {
    background: url('./img/sky.jpg')
                no-repeat center;
    background-size: cover;
    height: 110vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.parallax__bg::after {
    content: '';
    background: linear-gradient(
        transparent, #ffffff);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 11;
}

.parallax__star {
    background: url('./img/star.png')
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    z-index: 8;
}

.parallax__text {
    color: white;
    font-size: 200px;
    text-align: center;
    z-index: 9;
    position: absolute;
    top:25%;
}

.parallax__moon {
    width: 15%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 8;
}

.parallax__mountain {
    background: url('./img/mountain.png')
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    z-index: 10;
}

.parallax__cloud {
    background: url('./img/cloud.png')
    no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: -10%;
    z-index: 11;
    position: relative;
    outline: none;
}

.about__head {
    font-size: 100px;
    text-align: center;
    margin: -100px auto 100px auto;
}

.about__img img {
    width: 100%;
    border-radius: 25px;
}

.about__detail {
    padding: 0 10px;
}

.about__detail h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

.about__detail p {
    text-align: left;
    font-size: 25px;
}

