html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    top: 0;
}

header {
    background: url(https://images.unsplash.com/photo-1522868891863-f97b8ca4c424?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)
                no-repeat center;
    background-size: cover;
    height: 100vh;
    margin-bottom: 5000px;
}

nav {
    position: fixed;
    width: 100%;
    transition: .5s ease;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    transition: .5s ease;
}

.nav__logo {
    color:  #FBFCFC;
    margin: 0;
}


.nav li {
    display: inline-block;
    width: 5rem;
    padding: 15px;
    text-align: center;
    border-radius: 7px;
    transition: .5s ease;
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    color: #2C3E50;
    transition: .5s ease;
}

.nav li:hover {
    background-color:  #E74C3C ;
    cursor: pointer;
}

.nav ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.nav ul ul {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 47px;    
    background-color: transparent;
    width: 110px;
    left: 229px;
    display: none;
    transition: .5s ease;
    animation: fade-sub-menu .5s ease;
}

@keyframes fade-sub-menu {
    0% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.nav ul li:hover > ul {
    display: block;
}

