html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.dropdwn {
    margin: 0 auto;
    background: #2c3e50;
}

nav {
    height: 60px;
    background: #2c3e50;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    padding: 20px;
    margin: 0;
    color: #fff;
}

nav ul {
    padding: 0;
    margin: 0 30px 0 0;   
}

nav ul li {
    background-color: lightsalmon;
    position: relative;
    list-style: none;
    display: inline-block ;
}

nav ul li a {
    display: block;
    padding: 20px 15px;
    color: #fff;
    text-decoration: none;

    font-size: 20px;
}

nav ul li a:hover {
    background-color: lightpink;
}

nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover > ul {
    display: block ;
}

nav ul ul li {
    width: 150px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left:  150px;
}