html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, serif
}

nav {
    display: flex;
    height: auto;
    background-color: lightblue ;
    justify-content: center ;
    align-items: center;
    position: relative;
    flex-flow: column;
}

.nav__toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    display: block;
    cursor: pointer;
}

.nav__logo {
    margin: 40px 0 40px 0 ;
}

#js-nav__menu {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

#js-nav__menu li {
    list-style: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    padding: 5px 50px;
    transition: .3s;
}

#js-nav__menu li:first-child {
    margin-top: 0;
}

#js-nav__menu li:hover {
    opacity: 0.5;
}

#js-nav__menu a{
    text-decoration: none;
    font-weight: bold;
}

.active {
    display: flex;
}

@media screen and (min-width: 800px) {
    nav {
        height: 80px;
        flex-flow: row;
    }

    .logo {
        padding-left: 50px;
        margin: 0;
        width: 20%;
    }

    #js-nav__menu {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-flow: row;
    }

    #js-nav__menu li {
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        padding: 0;
    }

    .nav__toggle {
        display: none;
    }
}


